* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    overflow-x: hidden;
    color: #ffffff; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

header {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

.row {
    max-width: 1180px;
    margin: 0 auto;
    padding: 20px; 
}

.main-nav {
    float: right;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}

.main-nav li a {
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 400; 
}

.main-nav li a:hover {
    color: yellow;
    font-weight: 600; 
}

.table {
    margin-left: 30px; 
}

.heading {
    margin-left: 50px; 
    margin-top: 40px;
    font-size: 1.5rem; 
}

.name1 {
    font-size: 1.2rem; 
    padding-right: 5px;
}

.box1, .box2 {
    height: 2rem;
    width: 25rem;
    background-color: #ddd; 
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px; 
}

.standered1 {
    font-size: 1.2rem; 
    padding-right: 10px; 
}

.submit {
    width: 120px; 
    padding: 10px;
    margin-left: 50px;
    background-color: #0051ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.submit:hover {
    background-color: #7cadee;
    color: #000;
}

.main-content-header {
    border-top: 2px solid white;
}
